<div class="container">
    <div class="agency-main">
        <div class="agency-content">
            <div class="back-header">
                <button class="back-btn" (click)="backClicked()">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M8.65012 10.7188L16.6665 2.70209C16.8872 2.48188 17.0087 2.18746 17.0087 1.87352C17.0087 1.55941 16.8872 1.26516 16.6665 1.0446L15.9641 0.342509C15.7437 0.121603 15.4491 0 15.1351 0C14.8212 0 14.5269 0.121603 14.3064 0.342509L4.76162 9.88711C4.54019 10.1084 4.41893 10.404 4.4198 10.7183C4.41893 11.034 4.54001 11.3293 4.76162 11.5507L14.2975 21.0861C14.5181 21.307 14.8123 21.4286 15.1264 21.4286C15.4404 21.4286 15.7346 21.307 15.9553 21.0861L16.6576 20.384C17.1146 19.927 17.1146 19.1831 16.6576 18.7263L8.65012 10.7188Z" fill="black"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="21.4286" height="21.4286" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
        
                    Back
                </button>
                <div>
                  <app-agency-cart></app-agency-cart>
                </div>
            </div>
            <div class="">
                <div nz-row [nzGutter]="15">
                    <div nz-col class="gutter-row" nzXs="24" nzSm="12" nzMd="16" nzLg="16">
                        <nz-table #basicTable nz-bordered [nzData]="['']" class="custom-data-tbl custom-border-tbl">
                            <thead>
                              <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>SEO guest post</td>
                                <td>
                                    $100
                                </td>
                                <td>
                                    <div class="quantity-count">
                                        <nz-button-group>
                                          <button nz-button (click)="minCount()"><i nz-icon nzType="minus"></i></button>
                                          <button nz-button>
                                            <nz-badge [nzCount]="count">
                                                <a class="head-example"></a>
                                              </nz-badge>
                                          </button>
                                          <button nz-button (click)="addCount()"><i nz-icon nzType="plus"></i></button>
                                        </nz-button-group>
                                      </div>
                                </td>
                                <td>
                                   $100
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                              </tr>
                              <tr>
                                <td>SEO guest post</td>
                                <td>
                                    $100
                                </td>
                                <td>
                                    <div class="quantity-count">
                                        <nz-button-group>
                                          <button nz-button (click)="minCount()"><i nz-icon nzType="minus"></i></button>
                                          <button nz-button>
                                            <nz-badge [nzCount]="count">
                                                <a class="head-example"></a>
                                              </nz-badge>
                                          </button>
                                          <button nz-button (click)="addCount()"><i nz-icon nzType="plus"></i></button>
                                        </nz-button-group>
                                      </div>
                                </td>
                                <td>
                                   $100
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                              </tr>
                              <tr>
                                <td>SEO guest post</td>
                                <td>
                                    $100
                                </td>
                                <td>
                                    <div class="quantity-count">
                                        <nz-button-group>
                                          <button nz-button (click)="minCount()"><i nz-icon nzType="minus"></i></button>
                                          <button nz-button>
                                            <nz-badge [nzCount]="count">
                                                <a class="head-example"></a>
                                              </nz-badge>
                                          </button>
                                          <button nz-button (click)="addCount()"><i nz-icon nzType="plus"></i></button>
                                        </nz-button-group>
                                      </div>
                                </td>
                                <td>
                                   $100
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                              </tr>
                              <tr>
                                <td>SEO guest post</td>
                                <td>
                                    $100
                                </td>
                                <td>
                                    <div class="quantity-count">
                                        <nz-button-group>
                                          <button nz-button (click)="minCount()"><i nz-icon nzType="minus"></i></button>
                                          <button nz-button>
                                            <nz-badge [nzCount]="count">
                                                <a class="head-example"></a>
                                              </nz-badge>
                                          </button>
                                          <button nz-button (click)="addCount()"><i nz-icon nzType="plus"></i></button>
                                        </nz-button-group>
                                      </div>
                                </td>
                                <td>
                                   $100
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="5" class="text-right">
                                    <button type="button" class="red-btn">Update Cart</button>
                                </td>
                            </tr>
                            </tbody>
                          </nz-table>
                    </div>
                    <div nz-col class="gutter-row" nzXs="24" nzSm="12" nzMd="8" nzLg="8">
                        <nz-table #basicTable nz-bordered [nzData]="['']" class="custom-data-tbl custom-border-tbl">
                            <thead>
                              <tr>
                                <th colspan="2" class="text-left">Cart Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    <h5>Subtotal </h5>
                                </td>
                                <td>
                                    <span>$400</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                   <h5> Total </h5>
                                </td>
                                <td>
                                    <span>$400</span>
                                </td>
                              </tr>
                              <tr>
                                  <td colspan="2" class="text-center">
                                      <button routerLink="/app/agency/agency-billing" type="button" class="red-btn">Proceed to checkout</button>
                                  </td>
                              </tr>
                            </tbody>
                          </nz-table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>